# archive & backup

archive/
backup/
bin/

subprojects/

# folders

refer

# generated folders

build
builddir
.cache

# test files

bin/tinywl
bin/*.so

# editor configurations

.vscode

# animation presentations & scripts

*.mp4
*.pyc
presentation/

# logs

tiley_log.txt
tiley_log1.txt
tiley_log2.txt

# tree maker

tree-maker/